{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Music Composer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


	<link href="{% static "composer/CSS/PerMu.css" %}" rel="stylesheet">

</head>
<body class="text-center" style="background-color:#eaecef;">

	<div class="container">

		<nav class="navbar navbar-dark bg-dark navbar-expand-md navbar-expand-lg">
			<a class="navbar-brand" href="#">PerMu</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'composer:index' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'composer:team' %}">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'composer:comparison' %}" target="_blank">Compare</a>
					</li>

				</ul>
			</div>
		</nav>

		

		{% block content %}


		{% endblock %}

		

	</div>

</body>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript">
	(function (d) {
		for (var i = 0; i < 2; i++) {
			d.getElementsByClassName("generateForm")[i].onsubmit = function () {
    d.getElementById("disappear").style.display = 'none';
    d.getElementById("loading").style.display = 'block';
		}
  };
}(document));
</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</html>